@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.preconsulta button, .contenido3 button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #3436E0;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand img {
  width: 200px;
  height: 80px;
  object-fit: cover;
}

.contenidoPrincipal {
  max-width: 1500px;
  margin: 0 auto;
}

.titulo {
  color: #3436E0;
  font-size: 60px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  text-align: center;
}

.equipo img {
  padding: 10px;
}

.contenido h2 {
  font-size: 36px;
  margin-top: 48px;
  text-align: center;
}
.contenido .tarjeta p {
  font-size: 24px;
}

@media (max-width: 768px) {
  .contenido .tarjeta p {
    font-size: 18px;
  }
}
.contenido2 h2 {
  font-size: 36px;
  margin-top: 48px;
  text-align: center;
}
.contenido2 div article {
  max-width: 300px;
  align-content: start;
}

.circulo {
  width: 300px;
  transition: 0.5s;
}

.contenido3 h2 {
  font-size: 36px;
  margin-top: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.contenido3 div {
  margin: 0 auto;
}
.contenido3 h3 {
  font-size: 36px;
  margin-top: 48px;
  text-align: center;
}
.contenido3 button a {
  color: white;
  text-decoration: none;
}

.serv-contenido h2, .serv-contenido2 h2 {
  padding: 10px;
  margin-top: 48px;
  text-align: center;
}

.tarjeta {
  display: flex;
  margin: 10px;
  padding: 10px 20px;
  justify-content: space-evenly;
}
.tarjeta p {
  width: 500px;
  padding: 10px;
  margin: 10px;
  text-align: justify;
  font-size: 24px;
}

@media (max-width: 992px) {
  .serv-contenido .tarjeta {
    flex-direction: column;
    align-items: center;
  }
  .serv-contenido .tarjeta p {
    font-size: 20px;
  }
}
.cajas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.cajas div img {
  width: 400px;
  padding: 20px 10px;
}
.cajas div p {
  text-align: center;
  font-size: 24px;
}

.preconsulta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  padding: 40px 10px;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .titulo {
    font-size: 48px;
  }
  .serv-contenido .tarjeta iframe {
    width: 100%;
  }
  .serv-contenido .tarjeta p {
    margin: 0;
    width: 100%;
  }
  .serv-contenido2 .cajas div {
    padding: 0;
  }
  .serv-contenido2 .cajas div img {
    width: 100%;
  }
  .serv-contenido2 .cajas div p {
    width: 100%;
  }
  .preconsulta {
    flex-direction: column;
  }
  .contenedor-wa {
    width: 100%;
  }
}
.medicos, .terapia {
  justify-content: space-evenly;
}
.medicos div, .terapia div {
  max-width: 400px;
}
.medicos div h3, .terapia div h3 {
  font-size: 20px;
}
.medicos div p, .terapia div p {
  text-align: justify;
  font-size: 20px;
}

.especialidades ul {
  list-style: none;
  font-size: 20px;
}

.contenido3 div p {
  font-size: 24px;
}

@media (max-width: 576px) {
  .medicos div p, .terapia div p {
    font-size: 16px;
  }
  .especialidades ul {
    font-size: 16px;
  }
  .contenido3 div p {
    font-size: 18px;
  }
}
.trabajo {
  max-width: 800px;
  background-color: #3436E0;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "trabajo  trabajo" "nombre mensaje" "email  mensaje" "region mensaje" "telefono mensaje" "parrafo  boton";
}
.trabajo h2 {
  grid-area: trabajo;
  color: white;
  margin: 0 auto;
}
.trabajo label {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.trabajo label input, .trabajo label textarea {
  background-color: white;
  border-radius: 5px;
  border-bottom: 1px solid white;
  padding: 10px;
}
.trabajo p {
  grid-area: parrafo;
  color: white;
  padding: 10px;
}
.trabajo button {
  grid-area: boton;
  border: none;
  border-radius: 5px;
  background-color: #898bed;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.trabajo label:nth-child(2) {
  grid-area: nombre;
}

.trabajo label:nth-child(3) {
  grid-area: email;
}

.trabajo label:nth-child(4) {
  grid-area: region;
}

.trabajo label:nth-child(5) {
  grid-area: telefono;
}

.trabajo label:nth-child(6) {
  grid-area: mensaje;
}

@media (max-width: 768px) {
  .trabajo {
    margin: 20px, 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "trabajo trabajo" "nombre    nombre" "email      email" "region    region" "telefono telefono" "mensaje  mensaje" "parrafo  parrafo" "boton      boton";
  }
}
.comentario {
  text-align: center;
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
}

.formulario {
  max-width: 800px;
  background-color: #3436E0;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contacto  contacto" "nombre     telefono" "email      sintomas" "mensaje     mensaje" "boton        boton";
}
.formulario h3 {
  grid-area: contacto;
  color: white;
  padding: 10px;
}
.formulario label {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.formulario label input, .formulario label textarea {
  background-color: #3436E0;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
}
.formulario label select {
  background-color: #3436E0;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
}
.formulario button {
  grid-area: boton;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
}

.formulario label:nth-child(2) {
  grid-area: nombre;
}

.formulario label:nth-child(3) {
  grid-area: telefono;
}

.formulario label:nth-child(4) {
  grid-area: email;
}

.formulario label:nth-child(5) {
  grid-area: sintomas;
}

.formulario label:nth-child(6) {
  grid-area: mensaje;
}

@media (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacto  contacto" "nombre     nombre" "telefono  telefono" "email      email" "sintomas sintomas" "mensaje     mensaje" "boton        boton";
  }
}
.contactos h2 {
  margin-top: 48px;
  text-align: center;
}
.contactos .contenedor-wa {
  max-width: 400px;
  background-color: #29D5E1;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  border-radius: 10px;
}
.contactos .contenedor-wa a {
  font-size: 80px;
  color: white;
  text-align: center;
}
.contactos .contenedor-wa .telefonos {
  margin: 0, auto;
  text-align: center;
}

.pie {
  background-color: #3436E0;
  width: 100%;
  color: white;
}
.pie .redes a i {
  color: white;
  font-size: 48px;
  padding: 8px;
}

.circulo:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
