.contenidoPrincipal{
    max-width: 1500px;
    margin: 0 auto;
}
.titulo{
    color: #29D5E1;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}
.equipo img{
    padding: 10px;
}
.contenido h2{
    margin-top: 48px;
    text-align: center;
}
.contenido .tarjeta p{
    font-size: 24px;
}
.contenido2 h2{
    margin-top: 48px;
    text-align: center;
}
.contenido3{ 
    h2{
        margin-top: 48px;
        margin-bottom: 20px;
        text-align: center;
    }
    div{
        margin: 0 auto;
    }
}
.contenido3 h3{
    margin-top: 48px;
}
.contenido3 button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #29D5E1;
    a{
        color: white;
        text-decoration: none;
    }
}