.contenidoPrincipal{
    max-width: 1500px;
    margin: 0 auto;
}
.titulo{
    color: #29D5E1;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}
.equipo img{
    padding: 10px;
}
.contenido{ 
    h2{
        @include format(36px,48px,center);
    }
    .tarjeta{
        p{
            font-size: 24px;
        }
    }
}
.contenido2{ 
    h2{
        @include format(36px,48px,center);
    }
    div{
        article{
            max-width: 300px;
            align-content: start;
        }
    }
}
.circulo{
    width: 300px;
    transition: 0.5s;
}
.contenido3{ 
    h2{
        @include format(36px,48px,center);
        margin-bottom: 20px;
    }
    div{
        margin: 0 auto;
    }
    h3{
        @include format(36px,48px,center);
    }
    button{
        @extend %btn;
        a{
             color: white;
             text-decoration: none;
        }
    }
}