.medicos, .terapia{
    justify-content: space-evenly;
    div{
        max-width: 400px;
        h3{
            font-size: 20px;
        }
        p{
            text-align: justify;
        }
    }
}
.especialidades ul{
    list-style: none;
}