.serv-contenido h2, .serv-contenido2 h2{
    padding: 10px;
    margin-top: 48px;
    text-align: center;
}
.tarjeta{
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    justify-content: space-evenly;
    p{
        width: 500px;
        padding: 10px;
        margin: 10px;
        text-align: justify;
        font-size: 24px;
    }
}

@media(max-width:992px){
    .serv-contenido{
        .tarjeta{
        flex-direction: column;
        align-items: center;
            p{
                font-size: 20px;
            }
        }
    }
}
.cajas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    div img{
        width: 400px;
        padding: 20px 10px;
    }
    div p{
        text-align: center;
        font-size: 24px;
    }
}
.preconsulta{
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    padding: 40px 10px;
    justify-content: space-evenly;
    button{
        @extend %btn;
        }
}
@media(max-width:576px){
    .titulo{
        font-size: 48px;
    }
    .serv-contenido{
        .tarjeta{
            iframe{
                width: 100%;
            }
            p{
                margin: 0;
                width: 100%;
            }
        }
    }   
    .serv-contenido2{
        .cajas div{
            padding: 0;
            img{
                width: 100%;  
            }
            p{
                width: 100%;
            }
        } 
    }
    .preconsulta{
        flex-direction: column;
    }
    .contenedor-wa{
        width: 100%;
    }
}