.trabajo{
    max-width: 800px;
    background-color: $bg-color;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "trabajo  trabajo"
                            "nombre mensaje"
                            "email  mensaje"
                            "region mensaje"
                            "telefono mensaje"
                            "parrafo  boton";
    h2{
        grid-area: trabajo;
        color: white;
        margin: 0 auto;
    } 
    label{
        display: flex;
        flex-direction: column;
        color: white;
        padding: 10px;
        input, textarea{
            background-color:white;
            border-radius: 5px;
            border-bottom: 1px solid white;
            padding: 10px;
        }
    }
    p{
        grid-area: parrafo;
        color: white;
        padding: 10px;
    }
    button{
        grid-area: boton;
        border: none;
        border-radius: 5px;
        background-color:#898bed;
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
}      
    .trabajo label:nth-child(2){
        grid-area: nombre;
    }
    .trabajo label:nth-child(3){
        grid-area: email;
    }
    .trabajo label:nth-child(4){
        grid-area: region;
    }
    .trabajo label:nth-child(5){
        grid-area: telefono;
    }
    .trabajo label:nth-child(6){
        grid-area: mensaje;
    }
    @media(max-width:768px){
        .trabajo{
            margin: 20px, 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "trabajo trabajo"
                                "nombre    nombre"
                                "email      email"
                                "region    region"
                                "telefono telefono"
                                "mensaje  mensaje"
                                "parrafo  parrafo"
                                "boton      boton";
        }
    }
    .comentario{
        text-align: center;
        font-size: 24px;
        font-family: 'Urbanist', sans-serif;
    }